.ui-mobile, .ui-mobile .ui-page{
background:white;
background-image: url('../images/sfondo-Mare_.jpeg');
font-size:14px;
}

html.DeckPage-bg.ui-mobile,html.DeckPage-bg.ui-mobile .ui-page {
background:#f9fbfb;
}
html.NclLeadsForms-bg.ui-mobile,html.NclLeadsForms-bg.ui-mobile .ui-page {
background:#ccc;
}

html.GalleryAjaxVideos-bg h3.ui-li-heading {
padding-left:5px;
}

.ui-body-c, .ui-overlay-c {
text-shadow:none;
}

.ui-bar-c a.ui-link:active {
background:#DE8B36;
border-radius: 0.4em;
}

.ui-header .ui-btn-inner, .ui-footer .ui-btn-inner, .ui-mini .ui-btn-inner{
font-size:12px;
}

.ui-body-c, .ui-overlay-c {
color:#666;
}

.ui-btn-up-c {
text-shadow:none !important;
}

.ui-focus,.ui-btn:focus {
box-shadow:none !important;
text-shadow:none;
}

.ui-icon {
background-color:transparent;
box-shadow:none;
}

.ui-collapsible-content img {
height:auto !important;
}

.ui-collapsible-content ul {
padding-left:15px;
}

#nav-bar a.ui-btn-up-c{
background:none;
border:none;
color:#fff;
}

#nav-bar {
background: linear-gradient(bottom, #0275AF 26%, #54AFDC 63%);
background: -o-linear-gradient(bottom, #0275AF 26%, #54AFDC 63%);
background: -moz-linear-gradient(bottom, #0275AF 26%, #54AFDC 63%);
background: -webkit-gradient(linear,left bottom,left top,color-stop(0.26, #0275AF),color-stop(0.63, #54AFDC));
background: -webkit-linear-gradient(bottom, #0275AF 26%, #54AFDC 63%);
background: -ms-linear-gradient(bottom, #0275AF 26%, #54AFDC 63%);
height:54px;
}

#nav-bar ul li {
height:54px;
background:url("../images/menu_line.png") no-repeat right center;
}

#nav-bar ul li a div{
display:block;
margin:0 auto;
height:54px;
}

#nav-bar ul li .ui-btn-inner {
padding:0;
}

.ui-navbar li .ui-btn .ui-btn-inner {
padding-bottom:1em;
padding-top:1em;
border:none;
}

.sortmen ul li.Latest li.lur-1,.sortmen ul li.Latest li.lur-2,.sortmen ul li.Latest li.lur-5,.sortmen ul li.Ship li.lur-1,#collist ul li.Ship li.first,#collist ul li ul li.Conversation-sub,#collist ul li ul li.Timeline-sub,#collist ul li ul li.Gallery-sub{
display:none;
}

#collist ul li#cli-3.couv.active {

}

#nav-bar a {
text-align:center;
text-transform:uppercase;
color:#fff;
height:54px;
}

#nav-bar a:hover {
background:none;
border:none;
}

body.latest #nav-bar a[title="Latest"] {
	background:#DE8B36;
	border-radius: 0.4em;
}

body.Vers2ExperiencePage #nav-bar a[title="Experience"] {
	background:#DE8B36;
	border-radius: 0.4em;
}
body.ship #nav-bar a[title="Ship"] {
	background:#DE8B36;
	border-radius: 0.4em;
}
body.voyages #nav-bar a[title="Voyages"] {
	background:#DE8B36;
	border-radius: 0.4em;
}

#nav-bar ul li a#bli-1 div{
background-image:url("../images/ncl-mobile-menu-sprite_102412.png");
background-position: -4px -4px;
background-size: 280px 108px;
width:33px;
}

#nav-bar ul li a#bli-1 div.acton{
background-image:url("../images/ncl-mobile-menu-sprite_102412.png");
background-position: -4px -58px;
}

#nav-bar ul li a#cli-2 div{
background-image:url("../images/ncl-mobile-menu-sprite_102412.png");
width:47px;
background-position: -45px -4px;
}

#nav-bar ul li a#cli-2 div.acton{
background-image:url("../images/ncl-mobile-menu-sprite_102412.png");
background-position:  -45px -58px;
}

#nav-bar ul li a#cli-3 div{
background-image:url("../images/ncl-mobile-menu-sprite_102412.png");
background-position:  -99px -4px;
width:60px;
}

/*#nav-bar ul li a#cli-3 div.acton{
background-image:url("../images/ncl-mobile-menu-sprite_102412.png");
background-position: -99px -58px;
}*/

#nav-bar ul li a#cli-4 div{
background-image:url("../images/ncl-mobile-menu-sprite_102412.png");
width:38px;
background-position: -171px -4px;
}

#nav-bar ul li a#cli-4 div.acton{
background-image:url("../images/ncl-mobile-menu-sprite_102412.png");
background-position: -171px -58px;
}

#nav-bar ul li a#cli-5 div{
background-image:url("../images/ncl-mobile-menu-sprite_102412.png");
width:43px;
background-position: -232px -4px;
}

#nav-bar ul li a#cli-5 div.action{
background-image:url("../images/ncl-mobile-menu-sprite_102412.png");
background-position: -232px -58px;
}

@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx)
{
 	#nav-bar ul li a#bli-1 div{
	background-image:url("../images/ncl-mobile-menu-sprite_102412@2x.png");
	background-size: 280px 108px;
	background-position: -4px -4px;
	}

	#nav-bar ul li a#bli-1 div.acton{
	background-image:url("../images/ncl-mobile-menu-sprite_102412@2x.png");
	background-size: 280px 108px;
	background-position: -4px -58px;
	}

	#nav-bar ul li a#cli-2 div{
	background-image:url("../images/ncl-mobile-menu-sprite_102412@2x.png");
	background-size: 280px 108px;
	background-position:  -45px -4px;
	}

	#nav-bar ul li a#cli-2 div.acton{
	background-image:url("../images/ncl-mobile-menu-sprite_102412@2x.png");
	background-size: 280px 108px;
	background-position:  -45px -58px;
	}

	#nav-bar ul li a#cli-3 div{
	background-image:url("../images/ncl-mobile-menu-sprite_102412@2x.png");
	background-size: 280px 108px;
	background-position:-99px -4px;
	}

	#nav-bar ul li a#cli-3 div.acton{
	background-image:url("../images/ncl-mobile-menu-sprite_102412@2x.png");
	background-size: 280px 108px;
	background-position: -99px -58px;
	}


	#nav-bar ul li a#cli-4 div{
	background-image:url("../images/ncl-mobile-menu-sprite_102412@2x.png");
	background-size: 280px 108px;
	background-position:-171px -4px;
	}

	#nav-bar ul li a#cli-4 div.acton{
	background-image:url("../images/ncl-mobile-menu-sprite_102412@2x.png");
	background-size: 280px 108px;
	background-position: -171px -58px;
	}

	#nav-bar ul li a#cli-5 div{
	background-image:url("../images/ncl-mobile-menu-sprite_102412@2x.png");
	background-size: 280px 108px;
	background-position: -232px -4px;
	}

	#nav-bar ul li a#cli-5 div.action{
	background-image:url("../images/ncl-mobile-menu-sprite_102412@2x.png");
	background-size: 280px 108px;
	background-position: -232px -58px;
	}

}

#topmenu {
background-image:-webkit-gradient(linear, left top, left bottom, from( #f2f9fa /*{c-bup-background-start}*/), to( #d8dee1 /*{c-bup-background-end}*/)); /* Saf4+, Chrome */
background-image:-webkit-linear-gradient( #f2f9fa /*{c-bup-background-start}*/, #d8dee1 /*{c-bup-background-end}*/); /* Chrome 10+, Saf5.1+ */
background-image: -moz-linear-gradient( #f2f9fa /*{c-bup-background-start}*/, #d8dee1 /*{c-bup-background-end}*/); /* FF3.6 */
background-image: -ms-linear-gradient( #f2f9fa /*{c-bup-background-start}*/, #d8dee1 /*{c-bup-background-end}*/); /* IE10 */
background-image:  -o-linear-gradient( #f2f9fa /*{c-bup-background-start}*/, #d8dee1 /*{c-bup-background-end}*/); /* Opera 11.10+ */
background-image: linear-gradient( #f2f9fa /*{c-bup-background-start}*/, #d8dee1 /*{c-bup-background-end}*/);
text-transform:uppercase;
}

#topmenu .ui-btn-inner {
overflow:visible;
text-overflow:inherit;
}

#topmenu.ui-navbar li.alft .ui-btn {
text-align:left;
}

#topmenu.ui-navbar li.alrt .ui-btn {
text-align:right;
}

#topmenu ul li a{
background:url("../images/divider.png") no-repeat scroll left center transparent;
}

#topmenu .ui-btn-up-c {
color:#127eae;
font-weight:bold;
border:none;
text-shadow:none;
}

#topmenu a.ui-btn-down-c {
background:#d6d6d6;
color:#127BAA;
background-image: -webkit-gradient(linear, left top, left bottom, from(#d0d0d0), to(#dfdfdf));
background-image: -webkit-linear-gradient(#d0d0d0, #dfdfdf);
background-image: -moz-linear-gradient(#d0d0d0, #dfdfdf);
background-image: -ms-linear-gradient(#d0d0d0, #dfdfdf);
background-image: -o-linear-gradient(#d0d0d0, #dfdfdf);
background-image:  linear-gradient(#d0d0d0, #dfdfdf);
text-decoration:underline;
}

#topmenu  .ui-btn-hover-c {
border:none;
color:#61cae2;
}

#butonix {
position:relative;
background: linear-gradient(bottom, #f9fbfb 26%, #c7d6db 63%);
background: -o-linear-gradient(bottom, #f9fbfb 26%, #c7d6db 63%);
background: -moz-linear-gradient(bottom, #f9fbfb 26%, #c7d6db 63%);
background: -webkit-gradient(linear,left bottom,left top,color-stop(0.26, #f9fbfb),color-stop(0.63, #c7d6db));
background: -webkit-linear-gradient(bottom, #f9fbfb 26%, #c7d6db 63%);
background: -ms-linear-gradient(bottom, #f9fbfb 26%, #c7d6db 63%);
}

#butonix a#lmore{
position:absolute;
width:90px;
color:#fff;
left:-4px;
top:150px;
text-transform:uppercase;
text-shadow:0 -1px 0 #666;
display:block;
z-index:1005;
text-align:center;
}

#butonix a#lmore .ui-btn-inner {
overflow:visible;
padding:0.75em 4px 0.75em;
font-size:10.5px;
}

#butonix a#lmore.ui-btn {
background: -webkit-gradient(linear, 0 0, 0 100%, from(#f8b045), to(#cb6e2c));
background: -webkit-linear-gradient(top, #f8b045, #cb6e2c);
background: -moz-linear-gradient(top, #f8b045, #cb6e2c);
background: linear-gradient(top, #f8b045, #cb6e2c);
background: -o-linear-gradient(top, #f8b045, #cb6e2c);
background: -ms-linear-gradient(top, #f8b045, #cb6e2c);
}

#butonix a#lmore.ui-btn-down-c{
background:#fff;
color:#f07000 ;
text-shadow:none;
}

#butonix a#lmore.ui-btn-corner-all,#butonix a#lmore .ui-btn-corner-all {
border-radius:0.4em;
}

.banner.ui-header {
position:relative;
height:56px;
text-align:left;
background: url("../images/header_bg_grad.png") repeat-x;
z-index:1;
border:none;
}

.banner .logo {
background-image: url("../images/header_bg.png");
height: 56px;
display:inline-block;
width:130px;
margin:0 auto;
text-align:center;
}

ul#social-tools a[rel="facebook"] {

	background-image:url("../images/social_fb.png");
	width:24px;
	height:24px;
}

ul#social-tools a[rel="twitter"] {

	background-image:url("../images/social_twitter.png");
	width:24px;
	height:24px;
}

ul#social-tools a[rel="youtube"] {

	background-image:url("../images/social_yt.png");
	width:24px;
	height:24px;
}

@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx)
{
	.banner .logo {
		background-image: url("../images/header_bg@2x.png");
		background-size: 130px 56px;
	}

	ul#social-tools a[rel="facebook"] {
		background-image: url("../images/social_fb@2x.png");
		background-size: 24px 24px;
	}

	ul#social-tools a[rel="twitter"] {
		background-image: url("../images/social_twitter@2x.png");
		background-size: 24px 24px;
	}

	ul#social-tools a[rel="youtube"] {
		background-image: url("../images/social_yt@2x.png");
		background-size: 24px 24px;
	}
}

.banner .wrapban {
position:relative;
}

img#banner-str {
border:none;
width:100%;
height:60px;
position:absolute;
top:0;
left:0;
z-index:-1;
}

.banner .logo a {
height:56px;
width:130px;
display:block;
}

.banner .logo a:focus,.banner .logo a:active, a#bli-1,#social-tools a:focus,#social-tools a:active,#ft-logo a:focus,#ft-logo a:active{
background:#DE8B36;
border-radius: 0.4em 0.4em 0.4em 0.4em;
opacity:0.75;
}

.banner .ui-btn {
background: -webkit-gradient(linear, 0 0, 0 100%, from(#f8b045), to(#cb6e2c));
background: -webkit-linear-gradient(top, #FCFCFC, rgba(160, 218, 236, 0.64));
background: -moz-linear-gradient(top, #f8b045, #cb6e2c);
background: linear-gradient(top, #f8b045, #cb6e2c);
background: -o-linear-gradient(top, #f8b045, #cb6e2c);
background: -ms-linear-gradient(top, #f8b045, #cb6e2c);
}



.banner .ui-btn-corner-all {
border-radius: 0.4em 0.4em 0.4em 0.4em;
}

.banner.ui-header a.prs{
position:absolute;
top:0;
width:83px;
color:#fff;
text-transform:uppercase;
text-shadow:0 -1px 0 #666;
margin-top:7px;
text-align:center;
}
.banner.ui-header a.prs .ui-btn-inner {
overflow:visible;
padding:0.75em 4px 0.75em;
font-size:10.5px;
}

.banner.ui-header a.prs.ui-btn-down-c{
background:#fff;
color:#f07000 ;
text-shadow:none;
}

.banner.ui-header a#bll{left:10px;}
.banner.ui-header a#blr{right:10px;}

#home-ct .ui-btn-up-c {
background:#f2fbfe;
}

#home-ct ul li.ui-li-has-thumb,#main-block ul li.ui-li-has-thumb {
padding:0;
}

#home-ct .ui-li-heading {
font-size:14px;
}

#home-ct ul li#ft {
padding-top:14px;
height:19px;
background: -webkit-gradient(linear, 0 0, 0 100%, from(#fcfefe), to(#f0f2f2));
background: -webkit-linear-gradient(top, #fcfefe, #f0f2f2);
background: -moz-linear-gradient(top, #fcfefe, #f0f2f2);
background: linear-gradient(top, #fcfefe, #f0f2f2);
background: -o-linear-gradient(top, #fcfefe, #f0f2f2);
background: -ms-linear-gradient(top, #fcfefe, #f0f2f2);
}

#home-ct h3.grl.ui-li-heading,#whats a.nomar h3.ui-li-heading {
color:#127baa;
margin:0;
padding:1px 0 3px;
text-overflow:clip;
overflow:visible;
white-space:normal;
line-height:18px;
}

#whats a.nomar p.vdt {
font-style:italic;
color:#666;
font-weight:bold;
}

#home-ct.ui-content {
padding-top:0;
position:relative;
top:-20px;
z-index:5;
}

#home-ct .ui-listview-inset {
margin:0;
}

#home-ct .ui-li-desc {
color:#666;
font-weight:bold;
}

#home-ct a.nomar,#whats a.nomar {
padding:10px 40px 12px 88px !important;
position:relative;
}

.ui-mobile #home-ct ul li img.ui-li-thumb,.ui-mobile #whats ul li img.ui-li-thumb {
padding:10px 0 0 10px;
}

#home-ct span {
position:absolute;
}

#home-ct span#lns {
left:12px;
color:#0084bc;
font-size:13px;
text-transform:uppercase;
}

#home-ct span#viall{
right:20px;
font-size:11px;
font-style:italic;
}

#home-ct span#viall a{
color:#707070;
text-decoration:none;
padding:14px 4px;
}

#home-ct span#viall a:focus,#home-ct span#viall a:active {
color:#fff;
background:#cdcdcd;
text-decoration:underline;
}

.linkies {
background:none;
text-align:center;
height: 40px;
margin:0 0 12px 0;
max-width: 100%;
}

.linkies.ui-content {
padding:0;
}

.linkies .ui-btn {
background: -webkit-gradient(linear, 0 0, 0 100%, from(#f8b045), to(#cb6e2c));
background: -webkit-linear-gradient(top, #f8b045, #cb6e2c);
background: -moz-linear-gradient(top, #f8b045, #cb6e2c);
background: linear-gradient(top, #f8b045, #cb6e2c);
background: -o-linear-gradient(top, #f8b045, #cb6e2c);
background: -ms-linear-gradient(top, #f8b045, #cb6e2c);
}

.linkies .ui-btn-corner-all {
border-radius: 0.4em 0.4em 0.4em 0.4em;
}

.linkies span img {
padding:0 10px 0 0;
}

.linkies a.brs{
width:150px;
color:#fff;
text-transform:uppercase;
text-shadow:0 -1px 0 #666;
text-align:center;
margin:0;
padding:0;
}
.linkies a.brs .ui-btn-inner {
overflow:visible;
font-size:12.5px;
padding:0.65em 4px;
}

#cdcount {
font-size: 12px;
height:38px;
padding:45px 0 0;
text-align: center;
text-transform:uppercase;
position:relative;
background: transparent;
z-index:2;
}

#cdcount img#wavef {
position:absolute;
top:0;
left:0;
width:100%;
height:83px;z-index:-1;
}

#cdcount span#sailing-countdown {
text-align:left;
display: inline-block;
line-height:12px;
font-weight:bold;
height: 28px;
width:100px;
}

#cdcount #countdown-field {
background: url("/themes/ncl/images/footer_countdown_field.png") no-repeat;
color: #0084BC;
display: inline-block;
font-size: 13px;
height: 26px;
line-height:26px;
margin-right: 10px;
width: 110px;
position:relative;
top:-4px;
}

#cdcount .imgclone-top {
color: #0084BC;
font-size: 11px;

}

#cdcount .imgclone-bot {
color: #61CAE2;
font-size: 15px;
}

#btsocial{
padding:12px 0 11px 0;
text-align: center;
background: -webkit-gradient(linear, 0 0, 0 100%, from(#f0f0f0), to(#f9f9f9));
background: -webkit-linear-gradient(top, #f0f0f0, #f9f9f9);
background: -moz-linear-gradient(top, #f0f0f0, #f9f9f9);
background: linear-gradient(top, #f0f0f0, #f9f9f9);
background: -o-linear-gradient(top, #f0f0f0, #f9f9f9);
background: -ms-linear-gradient(top, #f0f0f0, #f9f9f9);
border-bottom:1px solid #e7e7e7;
}

#btsocial ul {
margin:0;
padding:0;
list-style:none;
}

#btsocial ul li{
display:inline;
}

#btsocial ul li a {
display: inline-block;
margin: 0 27px 0 0;
text-decoration: none;
}

#btsocial ul li a.last {margin-right:0;}

#signups{
padding:19px 0 20px 0;
text-align: center;
background:#f9f9f9;
}

#signups #updt {
color:#0084bc;
text-transform:uppercase;
font-weight:bold;
display:inline-block;
}

#signups #bl-signup {
display:block;
}

#signups #bl-signup.ui-br {
border:none;
}

#signups #updt span#bgltr {
background: url("../images/icon_email.png") no-repeat;
display:inline-block;
width:30px;
height:22px;
vertical-align:text-bottom;
margin-right:10px;
}

#signups #bl-signup form,#pressheld,#pressheld2 {
position:relative;
}

body.PressReleasesHolder .ui-content {
	position:relative;
}

body.PressReleasesHolder #main-block {
	margin-top: 47px;
}

body.ThumbnailGridPage .ui-content {
	position:relative;
}

body.ThumbnailGridPage #main-block {
	margin-top: 47px;
}

body.ShipCategoryPage .ui-content {
	position:relative;
}

body.ShipCategoryPage .amen {
	margin-top: 47px;
}

body.ShipCategoryPage .stateroom_select_container {
	margin-top: 47px;
}

.ui-collapsible-heading .ui-btn-text {
	white-space: normal;
}

#pressheld2 {
height:38px;
}

#signups span#btn-inp {
text-align:center;
display:inline-block;
position:relative;
}

#signups span#sndfm {
background: url("../images/sgn-arrow.gif") no-repeat;
position:absolute;
width:35px;
height:29px;
right:4px;
top:3px;
margin:0;
padding:0;
z-index:2;
}

#signups span#sndfm a {
text-decoration:none;
display:block;
width:35px;
height:29px;
}

#signups span#sndfm a:focus {
-moz-box-shadow: 0px 0px 12px #387bbe;
-webkit-box-shadow: 0px 0px 12px #387bbe;
box-shadow: 0px 0px 12px #387bbe;
}

#signups input#footer-email.ui-corner-all{
border-radius: 0.4em 0.4em 0.4em 0.4em;
background:#fff;
padding:6px 7px;
width: 225px;
color:#919191;
}

#alrdy{
padding:0;
color:#98a8b3;
font-size:13px;
display:inline-block;
}

#alrdy a {
text-decoration:none;
color:#66abc9;
}

#prefooter{
padding:15px 0;
}

#prefooter ul li .ui-li, #prefooter .ui-li.ui-field-contain {
text-align: center;
}

#prefooter ul li.ui-btn-up-c {
background:#f9f9f9;
}

#prefooter ul li a.ui-link-inherit{
display:inline-block;
text-align:center;
width:100%;
padding:14px 0 11px;
color:#2194c4;
text-transform:uppercase;
font-size:14px;
}

#alrdy a:active,#alrdy a:focus {
text-decoration:underline;
}

#prefooter span#ft-ncl-ph {
color:#2194C4;
}

#prefooter ul li span.ui-icon {
display:none;
}

#prefooter img.ui-li-icon {
float:none;
position:static;
vertical-align:text-bottom;
}

#footer {
padding:14px 0 5px;
height:24px;
background:#ededed;
border:none;
}

#footer #ft-logo {
float:left;
margin-left:20px;
}

#footer #ft-logo a {
display:block;
background-image:url("../images/logo_ncl.png");
width:112px;
height:21px;
}

@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx)
{
	#footer #ft-logo a {
		background-image:url("../images/logo_ncl@2x.png");
		background-size: 112px 21px;
	}
}

#footer #curyear {
color:#95a4af;
font-size:10.5px;
float:right;
margin-right:20px;
}

#footer.ui-bar-a {
text-shadow:none;
}

.sortmen {
display:none;
padding:0;
margin:0 !important;
background:#c3d2d8;
}

.sortmen .ui-collapsible-content {
margin:0;
box-sizing:border-box;
-moz-box-sizing:border-box; /* Firefox */
-webkit-box-sizing:border-box; /* Safari */
padding: 10px 12px;
}

#collist ul li.ui-focus a, #menulist ul li.ui-focus a,#home-ct .ui-focus a.nomar, #whats .ui-focus a.nomar,#collist ul li li.ui-focus,#menulist ul li li.ui-focus {
background:#999;
color:#fff;
text-shadow:none;
}

#home-ct .ui-focus a.nomar h3, #whats .ui-focus a.nomar h3,#home-ct .ui-focus .datebreak,#whats .ui-focus .datebreak{
color:#fff;
}

.neutral{
padding:11px 0;
color:#fff;
text-transform:uppercase;
background: -webkit-gradient(linear, 0 0, 0 100%, from(#3baadf), to(#3088b1));
background: -webkit-linear-gradient(top, #3baadf, #3088b1);
background: -moz-linear-gradient(top, #3baadf, #3088b1);
background: linear-gradient(top, #3baadf, #3088b1);
background: -o-linear-gradient(top, #3baadf, #3088b1);
background: -ms-linear-gradient(top, #3baadf, #3088b1);
border-bottom:1px solid #fff;
}

div.neutral {
border-radius:0.4em 0.4em 0 0;
}

#menulist,#collist {
display:none;
}

#menulist div.neutral {
border-radius:0;
}

#menulist div.neutral.bl-Latest {
border-radius:0.4em 0.4em 0 0;
}

.sortmen div.neutral span.mensprite {
display:inline-block;
width:26px;
height:26px;
vertical-align:bottom;
margin:0 10px;
}

.sortmen div.neutral.bl-Latest span.mensprite{
background-image: url("../images/ncl-mobile-submenu-sprite.png");
background-position: -27px 0;
}

.sortmen  div.neutral.bl-Experience span.mensprite{
background-image: url("../images/ncl-mobile-submenu-sprite.png");
background-position: -54px 0;
}

.sortmen  div.neutral.bl-Ship span.mensprite{
background-image: url("../images/ncl-mobile-submenu-sprite.png");
background-position: -81px 0;
}

.sortmen  div.neutral.bl-Voyages span.mensprite{
background-image: url("../images/ncl-mobile-submenu-sprite.png");
background-position: -108px 0;
}

@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx)
{
	.sortmen div.neutral.bl-Latest span.mensprite{
	background-image: url("../images/ncl-mobile-submenu-sprite@2x.png");
	background-size: 139px 27px;
	background-position: -27px 0;
	}

	.sortmen  div.neutral.bl-Experience span.mensprite{
	background-image: url("../images/ncl-mobile-submenu-sprite@2x.png");
	background-size: 139px 27px;
	background-position: -54px 0;
	}

	.sortmen  div.neutral.bl-Ship span.mensprite{
	background-image: url("../images/ncl-mobile-submenu-sprite@2x.png");
	background-size: 139px 27px;
	background-position: -81px 0;
	}

	.sortmen  div.neutral.bl-Voyages span.mensprite{
	background-image: url("../images/ncl-mobile-submenu-sprite@2x.png");
	background-size: 139px 27px;
	background-position: -108px 0;
	}
}

#collist ul li li.last {
border-radius:0 0 0.4em 0.4em;
}

#menulist ul li.Home {
display:none !important;
}

#menulist ul li li.last {
border-radius:0;
}

#menulist ul li.Voyages li.last {
border-radius:0 0 0.4em 0.4em;
}

#collist ul,#menulist ul {
margin:0;
padding:0;
list-style:none;
}

#collist ul li li,#menulist ul li li{
background:#fff;
}

#collist ul li li.ui-btn-hover-c,#menulist ul li li.ui-btn-hover-c{
background:#C1C8CB;
}

#collist ul li li a,#menulist ul li li a {
color:#127baa;
font-weight:normal;
}

#collist ul li.Booking,#menulist ul li.Booking{
display:none;
}

.ui-mobile #collist ul li .neutral img,.ui-mobile #menulist ul li .neutral img {
padding:0 30px 0 25px;
vertical-align:text-bottom;
}

#collist ul li.couv {display:none;}
#collist ul li.couv.active {display:block;}
#collist.active {display:block;}

#menulist.sortmen.open,#collist.sortmen.open {display:block;}

#rotating-item-wrapper {
width:100% !important;
}
#rotating-item-wrapper a img {
height:auto !important;
width:100% !important;
}

#rotating-item-wrapperBeach {
width:100% !important;
}
#rotating-item-wrapperBeach a img {
height:auto !important;
width:100% !important;
}

.DeckPage #rotating-item-wrapper a img {
height:auto !important;
width:640px !important;
position:relative !important;
}

.DeckPage #rotating-item-wrapper {
height:auto !important;
padding-bottom:20px;
}

.DeckPage #rotating-item-wrapperBeach a img {
height:auto !important;
width:640px !important;
position:relative !important;
}

.DeckPage #rotating-item-wrapperBeach {
height:auto !important;
padding-bottom:20px;
}

#rotating-item-wrapper a  {
text-decoration:none;
}

#rotating-item-wrapperBeach a  {
text-decoration:none;
}

#rotating-item-wrapper #nav {
width:auto;
text-align: center;
position:absolute;
left: 48%;
z-index:1002;
bottom:36px;
}

#rotating-item-wrapperBeach #nav {
width:auto;
text-align: center;
position:absolute;
left: 48%;
z-index:-9999;
bottom:36px;
}

#rotating-item-wrapper #nav  a {
height: 5px;
width: 5px;
background: #fff;
margin-right: 10px;
padding: 3px;
font-size:0 !important;
color:#000;
border-top-left-radius: 2px;
border-top-right-radius: 2px;
border-bottom-right-radius: 2px;
border-bottom-left-radius: 2px;
text-indent: -100000px;
display: block;
float: left;
}
#rotating-item-wrapperBeach #nav  a {
height: 5px;
width: 5px;
background: #fff;
margin-right: 10px;
padding: 3px;
font-size:0 !important;
color:#000;
border-top-left-radius: 2px;
border-top-right-radius: 2px;
border-bottom-right-radius: 2px;
border-bottom-left-radius: 2px;
text-indent: -100000px;
display: block;
float: left;
}
#rotating-item-wrapper #nav  a.activeSlide {
background: #127BAA;
}

#rotating-item-wrapperBeach #nav  a.activeSlide {
background: #127BAA;
}

#butonix span[rel] {
display:none;
position:absolute;
top:20px;
left:25px;
z-index:1002;
}

span[rel] h1 {
color: #fff000;
text-shadow:none;
font-family: museosans900,Arial,Helvetica,sans-serif;
font-size: 20px;
line-height:26px;
width:275px;
margin: 0;
padding: 0;
text-transform: uppercase;
}

#whats .ui-select span .ui-btn-text,#whats2 .ui-select span .ui-btn-text, .in-tern .ui-btn-text{
text-transform:uppercase;
color:#127baa !important;
}

#whats option#all-st,#whats2 option#all-st {
text-transform:capitalize;
}

.corbot {
border-bottom-left-radius: 0.6em;
border-bottom-right-radius: 0.6em;
}

.cortop {
border-top-left-radius: 0.6em;
border-top-right-radius: 0.6em;
}

#curtain,#curtain2 {
width:100%;
position:absolute;
top:0;
left:0;
background:none repeat scroll 0 0 rgba(7, 97, 141, 0.95);
height:46px;
border-top:1px solid #000;
border-bottom:none;
z-index:50;
}

#curtain h3,#curtain2 h3 {
text-transform:uppercase;
font-size:14px;
margin:1em 2.5% 0.6em;
text-align:left;
}

.BookingNewPage #moveright #curtain2 h3 {
text-align:center;
margin:1em 30% 0.6em;
}

.DeckPage #curtain h3 {
margin:1em 0 0.6em;
}

#caslist ul li span#deckname {
text-transform:uppercase;
font-size:14px;
display:block;
padding:0 4px;
margin:0.9em 0 0.6em;
width:80px;
color:#fff;
}

.DeckPage #caslist ul li {
background:none;
}

#fplplans .ui-collapsible-content {
text-align:center;
}

#butonix a#backgo,#pressheld a#backgo,#pressheld2 a#backgo {
position:absolute;
display:block;
top:5px;
left:10px;
width:51px;
height:31px;
z-index:51;
background: url("../images/btn_menu_back.png") no-repeat;
}

#butonix a#backgo:focus,#butonix a#backgo:active,#butonix a#backgo.ui-focus,#pressheld a#backgo:focus,#pressheld a#backgo:active,#pressheld a#backgo.ui-focus,#pressheld2 a#backgo:focus,#pressheld2 a#backgo.ui-focus,#pressheld2 a#backgo:active{
/*background: url("../images/btn_menu_back.png") no-repeat 0 -31px;*/
background:#DE8B36;
border-radius: 0.4em 0.4em 0.4em 0.4em;
}

#moveright a#searchgo {
position:absolute;
display:block;
top:5px;
left:10px;
width:60px;
height:31px;
z-index:51;
background: url("../images/btn_menu_search.png") no-repeat 0 0;
}

#moveright a#searchgo:focus,#moveright a#searchgo:active {
/*background: url("../images/btn_menu_search.png") no-repeat 0 -31px;*/
background:#DE8B36;
border-radius: 0.4em 0.4em 0.4em 0.4em;
}

#caslist {
position:absolute;
display:block;
top:0;
right:0;
width:auto;
height:45px;
z-index:60;
margin-top:1px;
}

#caslist ul {
list-style:none;
margin:0;
padding:0;
}

#caslist ul li{
float:left;
text-align:center;
height:45px;
background:url("../images/sub_nav_line.png") no-repeat left center;
}

#caslist ul li a{
display:block;
width:38px;
height:46px;
text-align:center;
padding:0 4px;
}

#caslist ul li a#lftarrow div{
width:18px;
height:18px;
position:relative;
top:12px;
left:10px;
background: url("../images/icons-18-brd-white.png") no-repeat -143px 0;
}

#caslist ul li a#rgtarrow div{
width:18px;
height:18px;
position:relative;
left:10px;
top:12px;
background: url("../images/icons-18-brd-white.png") no-repeat -108px 0;
}

.InternalPage .in-tern {
padding:0 15px;
position:relative;
top:-24px;
z-index:6;
}

.ItineraryPage #switchz {
clear:left;
padding-bottom:15px;
}

.ItineraryPage #itr a {
float:left;
margin-right:20px;
}

.DeckPage #nav {
display:none;
}

.DeckPage #curtain .ui-select {
top:-2px;
}

#curtain .ui-btn-up-b,#curtain .ui-btn-hover-b,#curtain .ui-btn-inner,#curtain2 .ui-btn-up-b,#curtain2 .ui-btn-hover-b,#curtain2 .ui-btn-inner{
border:none;
background:none;
box-shadow:none;
text-shadow:none;
font-size:14px;
text-transform:uppercase;
}

#curtain span.ui-icon,#curtain2 span.ui-icon {
box-shadow:none;
background: url("../images/icons-18-brd-white.png") no-repeat -216px 0;
}

#curtain .ui-btn-corner-all,#curtain2 .ui-btn-corner-all {
border-radius:0;
}

.DeckPage span#dekall {
display:block;
padding-top:5px;
}

.DeckPage a#deckall{
position:absolute;
display:block;
text-transform:uppercase;
color:#fff;
top:5px;
left:10px;
width:70px;
height:31px;
text-align:center;
font-weight:normal;
z-index:12;
text-decoration:none;
background:url("../images/sub_nav_line.png") no-repeat right center;
}

.DeckPage a#deckall div {
width:18px;
height:18px;
display:inline-block;
position:relative;
vertical-align:middle;
margin:0 7px;
background: url("../images/icons-18-brd-white.png") no-repeat -216px 0;
}

.PressRelease .ui-content {
color:#666;
}

#whats #pr-rel {
padding-top:30px;
}

#whats #pr-rel h3 .ui-btn-text{
text-transform:uppercase;
text-align:center;
color:#127BAA !important;
text-overflow:clip;
}

#whats #pr-rel h3 .ui-btn-inner {
text-overflow:clip;
}

#whats .listItemNoIcon .ui-icon {
	display:none;
}

.InternalCarousel #carousels ul.the-waterfront li.pagz-2 {
display:none;
}

.InternalCarousel #carousels ul.the-waterfront li.pagz-4{
background-clip:padding-box;
border-top-left-radius:0.6em;
border-top-right-radius:0.6em;
}

.ItineraryPage-bg .in-tern h3.ui-collapsible-heading .ui-btn-inner {
white-space:normal !important;
}

.PressRelease .event-photo-holder, .PressRelease .when-event {
text-align:center;
}

.datebreak.ui-li-desc{
position:absolute;
left:10px;
top:65px;
z-index:4;
font-weight:bold;
}

#carousels h3.ui-li-heading{
color:#127baa;
margin:0 0 0 -14px;
padding:1px 0 3px;
text-overflow:clip;
overflow:visible;
white-space:normal;
line-height:18px;
}

#carousels ul li.ui-focus {
background:#999;
}

#carousels ul li.ui-focus h3.ui-li-heading {
color:#fff;
text-shadow:none;
}

.BookingNewPage .tabz{
display:none;
}

.BookingNewPage #onz.tabz {
display:block;
}

.BookingNewPage #slider a {
cursor: pointer;
display: block;
padding: 0;
text-align: center;
box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
background-clip: padding-box;
border-radius: 1em 1em 1em 1em;
text-decoration: none;
border: 1px solid #CCCCCC;
background-image: -webkit-gradient(linear, left top, left bottom, from( #fff /*{c-bup-background-start}*/), to( #f1f1f1 /*{c-bup-background-end}*/)); /* Saf4+, Chrome */
background-image: -webkit-linear-gradient( #fff /*{c-bup-background-start}*/, #f1f1f1 /*{c-bup-background-end}*/); /* Chrome 10+, Saf5.1+ */
background-image: -moz-linear-gradient( #fff /*{c-bup-background-start}*/, #f1f1f1 /*{c-bup-background-end}*/); /* FF3.6 */
background-image: -ms-linear-gradient( #fff /*{c-bup-background-start}*/, #f1f1f1 /*{c-bup-background-end}*/); /* IE10 */
background-image: -o-linear-gradient( #fff /*{c-bup-background-start}*/, #f1f1f1 /*{c-bup-background-end}*/); /* Opera 11.10+ */
background-image: linear-gradient( #fff /*{c-bup-background-start}*/, #f1f1f1 /*{c-bup-background-end}*/);
color: #222222;
font-weight: bold;
text-shadow: 0 1px 0 #FFFFFF;
}

.BookingNewPage #slider a span {
height: 100%;
padding: 0;
display: block;
font-size: 16px;
min-width: 0.75em;
overflow: hidden;
position: relative;
text-overflow: ellipsis;
white-space: nowrap;
background-clip: padding-box;
border-radius: 1em 1em 1em 1em;
border-top: 1px solid rgba(255, 255, 255, 0.3);
}

.BookingNewPage #curtain,.BookingNewPage #curtain2 {
height:38px;
}

.BookingNewPage #controls select {
text-transform:capitalize !important;
}

.BookingNewPage #date-selection {
display:none;
}

.BookingNewPage #whats,.BookingNewPage #whats2 {
overflow: visible;
}

.BookingNewPage #bk-best-deal,.BookingNewPage .bestfare-element,.BookingNewPage .bestfare-element div {
display:block !important;
}

.BookingNewPage #whats #controls,.BookingNewPage #whats2 #controls2 {
padding-top:30px;
}

.BookingNewPage #whats #controls,.BookingNewPage #whats .blk-travel,.BookingNewPage #whats2 #controls2,.BookingNewPage #whats2 .blk-travel {
padding-bottom:2px;
}

.BookingNewPage #find-deal .ui-collapsible-heading,.BookingNewPage #griderz .ui-collapsible-heading  {
margin:0.5em 0 0;
text-transform:uppercase;
}

.BookingNewPage #find-deal .ui-collapsible-content,.BookingNewPage #griderz .ui-collapsible-content {
margin:0;
}

.BookingNewPage #find-deal .ui-collapsible-heading .ui-btn-text,.BookingNewPage #griderz .ui-collapsible-heading .ui-btn-text {
color:#127BAA !important;
padding-left:9px;
}

.BookingNewPage #whats .ui-btn,.BookingNewPage #whats2 .ui-btn {
text-align:left;
}

.BookingNewPage #find-deal h3.firzt .ui-icon,.BookingNewPage #griderz h3.firzt .ui-icon,.BookingNewPage .ports-disc  h3.firzt .ui-icon{
display:none !important;
}

.BookingNewPage .bestfare-element.qet {
padding:8px;
border-top:1px solid #dedede;
}

.BookingNewPage .linkies a.brs#fnd.ui-btn,.BookingNewPage .linkies a.brs#bookg.ui-btn {
width:90%;
text-align:center;
padding:0.2em 0;
}

.BookingNewPage .linkies.bik {
height:auto;
padding-top:15px;
height:45px;
}

.BookingNewPage .linkies a.brs#fnd.ui-btn .ui-btn-inner,.BookingNewPage .linkies a.brs#bookg.ui-btn .ui-btn-inner {
border:none !important;
}

.BookingNewPage .loop-dest h1,.BookingNewPage .loop-dest div {
display:none;
}

.BookingNewPage .wrap-tbl {
position:relative;
height:374px;
}

.BookingNewPage .categories ul {
width:100%;
display:block;
padding:0;
margin:0;
position:absolute;
height:350px !important;
top:37px !important;
white-space:nowrap;
}

.BookingNewPage .categories ul li{
text-align:center;
width:100%;
display:block;
padding:0 0 34px;
margin:0;
white-space:nowrap;
list-style:none;
font-size:12px;
}

.BookingNewPage .inter {
display:inline-block;
text-align:center;
width:33%;
}

.BookingNewPage .inter a img{
display:none !important;
}

.BookingNewPage #griderz .ui-collapsible-content {
padding:10px 12px;
}

.BookingNewPage #rotating-item-wrapper {
width:100% !important;
overflow:visible !important;
height:368px;
}

.BookingNewPage #rotating-item-wrapper ul{
text-align:center;
width:33%;
display:block;
padding:0;
margin:0;
float:left;
white-space:nowrap;
}

.BookingNewPage #rotating-item-wrapper ul li{
text-align:center;
width:100%;
display:block;
padding:0 0 34px;
margin:0;
white-space:nowrap;
list-style:none;
font-size:12px;
}

.BookingNewPage #rotating-item-wrapper .inter {
height:auto !important;
width:100% !important;
position:absolute !important;
float:left;
top:37px !important;
}

.BookingNewPage #griderz h3 .ui-btn-inner,.BookingNewPage .ports-disc h3 .ui-btn-inner {
color:#127BAA !important;
text-align:center;
text-transform:uppercase;
}

.BookingNewPage #boxy{
background:#fff;
border:2px solid #44daed;
width:33%;
top:11px;
position:absolute;
margin-left:33%;
height:342px;
}

.BookingNewPage #boxy ul {
text-align:center;
width:100%;
display:block;
padding:8px 0 0 0;
margin:0;
white-space:nowrap;
}

.BookingNewPage #boxy ul li{
text-align:center;
width:100%;
display:block;
padding:0 0 34px;
margin:0;
white-space:nowrap;
list-style:none;
font-size:12px;
}

.BookingNewPage #boxy ul li span{
text-transform:uppercase;
color:#0084BC;
font-weight:bold;
}

.BookingNewPage .categories {
width:100% !important;
height:374px;
}

.BookingNewPage .categories.btbk {
height:100px;
}

.BookingNewPage .ports-disc {
padding:15px 8px;
}

.BookingNewPage #pickdep {
border-bottom:1px solid #cdcdcd;
text-align:center;
padding:2px 0 12px;
}

.BookingNewPage #pickdep span {
text-align:center !important;
color:#666 !important;
font-size:12px;
font-weight:bold;
}

.BookingNewPage .categories.btbk span{
display:block;
text-align:center !important;
padding:1em 0;
margin:0;
text-shadow:0 -1px 0 #666666;
background: -webkit-gradient(linear, 0 0, 0 100%, from(#f8b045), to(#cb6e2c));
background: -webkit-linear-gradient(top, #f8b045, #cb6e2c);
background: -moz-linear-gradient(top, #f8b045, #cb6e2c);
background: linear-gradient(top, #f8b045, #cb6e2c);
background: -o-linear-gradient(top, #f8b045, #cb6e2c);
background: -ms-linear-gradient(top, #f8b045, #cb6e2c);
border-radius:0.4em 0.4em 0.4em 0.4em;
}

.BookingNewPage .categories.btbk span a {
color:#fff;
text-transform:uppercase;
text-decoration:none;
}

.BookingNewPage .categories ul li.linkbk {
display:none;
}

.BookingNewPage .linkies a.ui-btn-down-c ,.wrapban a.ui-btn-down-c,.linkies a#cll.ui-btn-down-c{
background:#fff;
color:#f07000 ;
text-shadow:none;
}

.BookingNewPage #it-details {
padding-top:12px;
}

.BookingNewPage #it-details .left {
display:block;
text-align:center;
}

.BookingNewPage #it-details .left img {
text-align:center;
max-width:100%;
width:100%;
}

.BookingNewPage .linkies {
display:none;
}

.BookingNewPage .linkies.bik {
display:block;
}

.BookingNewPage #grpbutton,.BookingNewPage #grpbutton a {
text-align:center !important;
color:#127BAA !important;
text-transform:uppercase;
}

.BookingNewPage #grpbutton {
width:100%;
}

.BookingNewPage #grpbutton span.halves {
float:left;
display:block;
width:50%;
}

.BookingNewPage #grpbutton a {
float:none !important;
padding:1.2em 0;
font-size:10px;
text-shadow:none;
}

.entre {
background:#dedede;
text-decoration:underline;
}

.BookingNewPage table#port_list {
border-collapse: collapse;
border-spacing: 0;
margin-top:12px;
font-size:12px;
width:100%;
}

.BookingNewPage table#port_list th {
color:#fff;
padding:5px;
}

.BookingNewPage table#port_list td {
padding:5px;
}

.BookingNewPage table.results-list th, .BookingNewPage .content-box .right #port_list th {
border: 1px solid #CBCBCB;
color: #FFFFFF;
font-size: 11px;
height: 30px;
text-align: center;
}

.BookingNewPage table.results-list tr.bk-tr, .BookingNewPage .content-box .right #port_list tr.bk-tr {
background:none repeat scroll 0 0 rgba(7, 97, 141, 0.7);
}

#moveleft,#moveright {
position:relative;
}

#moveleft {
top:0;
left:0;
}

#moveright {
display:none;
top:0;
right:-5000px;
}

.NclLeadsForms .ui-btn-up-c {
color:#666;
}

table#stateroom-board {
border-collapse:collapse;
border:1px solid #81a5b3;
}

table#stateroom-board tr.str-body{
background:#ecf5fd;
}

table#stateroom-board th{
color:#fff;
background:#609bab;
}

table#stateroom-board th, table#stateroom-board td{
border:1px solid #81a5b3;
padding:5px;
text-align:center;
}

table#iti-port-list {
border-collapse:collapse;
border:1px solid #cdcdcd;
font-size:12px;
}

table#iti-port-list tr{
background:#fff;
}

table#iti-port-list tr.iti-bk-tr{
color:#fff;
background:#4a89ad;
}

table#iti-port-list a{
color:#33A1DE;
text-decoration:none;
}

table#iti-port-list a:hover{
text-decoration:underline;
}

table#iti-port-list th {
padding:5px;
border:1px solid #cdcdcd;
text-align:center;
}

table#iti-port-list th, table#iti-port-list td{
border:1px solid #cdcdcd;
padding:8px 5px;
text-align:center;
}

#depart-board {
border:1px solid #cdcdcd;
}

#depart-board-header {
height:28px;
background:#4A89AD;
color:#fff;
}

#depart-board-header span {
padding:7px 0 0 15px;
display:block;
font-size:11px;
font-weight:bold;
}

#depart-board-body {
background:#fff;
color:#000;
min-height: 160px;
padding:13px 0 10px 10px;
}

#depart-board-body a {
color:#000;
padding:2px;
margin:0 2px;
background:#ebf4f4;
border:1px solid #999999;
text-decoration:none;
}

#depart-board-body .wrapped-years {
float:left;
clear:left;
margin-bottom:15px
}

html.ie7 #depart-board-body .wrapped-years {
clear:none;
}

#depart-board-body span.iti-year.withno {
border:none;
}

#depart-board-body span.iti-hold {
width:260px;
padding:3px 0 11px 0;
display:block;
float:left;
margin:-13px 0 0 6px;
line-height:34px;
}

#depart-board-body span.iti-month {
font-weight:bold;
}
#depart-board-body span.iti-year {
padding:3px 2px 3px 0;
display:block;
float:left;
clear:left;
border-top:1px solid #4A89AD;
border-bottom:1px solid #4A89AD;
font-size:11px;
font-weight:bold;
width:29px;
margin-top:-3px;
}

#caslist ul li a:focus,#caslist ul li a:active {
background:#DE8B36;
border-radius: 0.4em 0.4em 0.4em 0.4em;
}

#section-vid {
clear:both;
margin-top:25px;
}

#section-vid ul li {
padding:1em 11px;
height:46px;
}

#icvid {
width:70px;
height:45px;
float:left;
}

.icvid-2 {
width:84px;
height:61px;
float:left;
}

.icbody {
float:left;
padding-left:8px;
}

.icbody h3 {
padding:0;
margin:0 0 5px 0;
text-transform:uppercase;
}

.icbody strong {
color:#127BAA;
}

html.Vers2ExperiencePage-bg, html.Vers2ExperiencePage-bg.ui-mobile, html.Vers2ExperiencePage-bg.ui-mobile .ui-page {
background:#3995fa;
}

.Vers2ExperiencePage #whats {
background: -webkit-gradient(linear, 0 0, 0 100%, from(#0069b4), to(#3995fa));
background: -webkit-linear-gradient(top, #0069b4, #3995fa);
background: -moz-linear-gradient(top, #0069b4, #3995fa);
background: linear-gradient(top, #0069b4, #3995fa);
background: -o-linear-gradient(top, #0069b4, #3995fa);
background: -ms-linear-gradient(top, #0069b4, #3995fa);
padding:15px 15px 0 15px;
position:relative;
}

.Vers2ExperiencePage #whats #topgr {
width:100%;
height:8px;
position:absolute;
top:0;
left:0;
z-index:1;
background: transparent url("../images/newexptop-grad.gif") repeat-x left top;
}

.Vers2ExperiencePage #new-experience {
padding-bottom:15px;
}

.Vers2ExperiencePage img#nxexp {
max-width:100%;
height:auto;
}

.Vers2ExperiencePage .grid-exp-top {
width:100%;
height:14px;
position:relative;
}

.Vers2ExperiencePage .grid-left-top {
float:left;
width:13px;
height:14px;
position:absolute;
z-index:1;
top:0;
left:0;
background: url("../images/exp-lines.png") no-repeat right top;
}

.Vers2ExperiencePage .grid-middle-top {
float:left;
width:98.5%;
height:14px;
margin-left:13px;
background: url("../images/exp-lines.png") 84px 0 no-repeat;
}

.Vers2ExperiencePage .grid-right-top {
float:left;
width:1px;
height:14px;
position:absolute;
z-index:1;
top:0;
right:0;
background: url("../images/exp-lines.png") left top no-repeat;
}

.Vers2ExperiencePage .grid-exp.first {
height:62px;
}

.Vers2ExperiencePage .grid-exp.first .grid-left {
height:62px;
background: url("../images/grid-exp-left.png") no-repeat;
}

.Vers2ExperiencePage .grid-exp.first .grid-middle {
height:62px;
}

.Vers2ExperiencePage .grid-exp.first .photo-holder {
padding-top:1px;
height:61px;
background: url("../images/photo-brd-grad.png") no-repeat right top;
}

.Vers2ExperiencePage .grid-exp.first .bdtext h3{
margin:23px 0 0;
}

.Vers2ExperiencePage .grid-exp.first .grid-right {
height:62px;
background: url("../images/grid-exp-right.png") no-repeat;
}

.Vers2ExperiencePage .grid-exp {
width:100%;
height:69px;
clear:left;
position:relative;
}

.Vers2ExperiencePage .grid-exp .grid-left {
float:left;
width:14px;
height:69px;
position:absolute;
z-index:1;
top:0;
left:0;
background: url("../images/grid-exp-left-ext.png") no-repeat;
}

.Vers2ExperiencePage .grid-exp .grid-middle {
float:left;
width:99%;
height:69px;
margin-left:13px;
background: url("../images/grid-exp-middle.png") left top repeat-x;
}

.Vers2ExperiencePage .grid-exp .grid-right {
float:left;
width:1px;
height:69px;
position:absolute;
z-index:1;
top:0;
right:0;
background: url("../images/grid-exp-right-ext.png") no-repeat;
}

.Vers2ExperiencePage .grid-exp .photo-holder {
float:left;
padding-top:8px;
width:85px;
height:61px;
background: url("../images/photo-brd-grad-ext.png") no-repeat right top;
}

.Vers2ExperiencePage .grid-exp .bdtext {
float:left;
text-transform:uppercase;
color:#fff;
margin-left:20px;
}

.Vers2ExperiencePage .grid-exp .bdtext h3{
display:block;
color:#fff;
width:146px;
font-size:1em;
margin:28px 0 0;
position:relative;
}

.Vers2ExperiencePage .grid-exp .bdtext h3[data-headline="Aqua Park & Sports Deck"] {
top:-10px;
}

.Vers2ExperiencePage  #backgd {
background:#3995fa;
margin-bottom:-30px;
}

.learn-more-top {
background: url("/themes/ncl/images/btn_learn_more_bg_left.png") no-repeat scroll 0 0 transparent;
float: left;
height: 28px;
width: 5px;
}

.learn-more-mid {
background: url("/themes/ncl/images/btn_learn_more_bg_center.png") repeat-x scroll 0 0 transparent;
float: left;
height: 28px;
width: auto;
}

.learn-more-bot {
background: url("/themes/ncl/images/btn_learn_more_bg_right.png") no-repeat scroll 0 0 transparent;
float: left;
height: 28px;
width: 5px;
}

.learn-more-mid div a {
color: #FFFFFF !important;
font-weight: bold;
font-size:10.5px;
line-height:30px;
padding: 0.75em 4px;
text-decoration: none;
text-transform: uppercase;
}